
.container{
    background: #000;
    width: 100%;
    height: 50px;
    
}

.nav{
    text-align: center;
    padding: 10px 10px;
    float: right;
}

.a{
    background-color: rgb(238, 233, 225);
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    padding: 8px 24px;     
}

.head{
    float: left;
     text-decoration: none; 
     color: aliceblue;
     padding: 10px;
     margin-left: 30%;
     font-family: 'Brush Script MT', cursive;
     font-size: 30px;
}

.home-head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.heading{
    font-family: 'Brush Script MT', cursive;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: rgb(248, 231, 231);
    /* margin-top: 10%; */
}

.home-para{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.home-img{
    width: 500px;
    height: 400px;
    border-radius: 10px;
}

.para{
    margin-left: 10px;
    line-height: 1.5em;
}

.box{
    color: #070204;
    width: 1000px;
    /*height: 45%;*/
    margin: 60px auto;  
    background: #f8f1f1;  
    /*padding: 60px 120px 80px 120px;*/  
    padding: 30px 60px 40px 60px;  
    /*text-align: center;*/  
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 10px #000;
    border-radius: 10px;
}

.abt{
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 200px;
    margin-left: 45%;
    border-radius: 10px;
    padding: 10px;
    /* margin-top: 20%; */
}

.con{
    display: flex;
    /* width: 1200px; */
    margin-left: 20%;
}

.row {margin: 0 -5px; }

.row:after {
   content: "";
   display: table;
   clear: both;
 }

.column {
   float: center;
   width: 25%;
   padding: 0 10px;
   margin-left: auto;
   margin-right: auto;
}

.card {
   border-radius: 1em;
   margin-top: 30px;
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); this adds the "card" effect */
   padding: 16px;
   text-align: center;
   background-color: black;
   opacity: 0.8;
   width: 300px;
 }

.card:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.dev{
   color: white;
  }

input[type=text], select {
   width: 100%;
   padding: 12px 20px;
   color: white;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}


input[type=textarea]{
    width: 100%;
    padding: 12px 20px;
    color: white;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    color: white;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }

 input[type=submit] {
   width: 20%;
   background-color: #33ADFF;
   color: white;
   padding: 10px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.crt {
   text-decoration: none;
   background-color: #000;
   float: right;
   color: white;
}

.ser{
    margin-left: 30px;
    margin-right: auto;
}

img{
    width: 100%;
    height: auto;
 }
 
 .gallary{
  margin:  20px;
  border: 1px solid rgb(135, 176, 196);
  float: left;
  width: 280px;
  text-align: center;
 }

 .gall{
     width: 200px;
     height: 200px;
     display: flex;
     float: left;
     margin: 30px;
     border-radius: 10px;
 }
 
 .des{
    padding: 15px;
    text-align: center;
    background-color: #fff;
    width: 93%;
    background-color: #12d63d;
    color: rgb(14, 13, 13);
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
 }
 
 
 
 .head{
     margin-bottom: 100px !important;
 }